body {
    background: #ffffff;
    font-family: 'Segoe UI', sans-serif;
}

/* SECTION */
.about-section {
    background: transparentred;
}

/* TAG */
.about-tag {
    color: #0d6efd;
    font-weight: 600;
    font-size: 14px;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}

.about-tag::after {
    content: "";
    width: 40px;
    height: 2px;
    background: #0d6efd;
    display: block;
    margin-top: 5px;
}

/* TITLE */
.about-title {
    font-size: 42px;
    font-weight: 700;
    color: #111;
    margin-bottom: 15px;
}

.about-title span {
    color: #0d6efd;
}

/* TEXT */
.about-text {
    color: #555;
    font-size: 15px;
    line-height: 1.7;
}

/* IMAGE */
.about-img {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
    transition: 0.4s;
}

.about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s;
}

.about-img:hover img {
    transform: scale(1.05);
}

/* FEATURE BOX */
.feature-box {
    padding: 20px;
    transition: 0.3s;
}

.feature-box:hover {
    transform: translateY(-5px);
}

/* NUMBER */
.number {
    font-size: 60px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.08);
    display: block;
}

/* HEADING */
.feature-box h5 {
    font-weight: 600;
    margin-top: -20px;
    margin-bottom: 10px;
}


/* TEXT */
.feature-box p {
    color: #666;
    font-size: 14px;
}

.feature-box:hover {
    transform: translateY(-8px) !important;
}

/* RESPONSIVE */
@media(max-width: 768px) {
    .about-title {
        font-size: 30px;
    }

    .feature-box {
        margin-bottom: 25px;
    }
}

/* ===== ANIMATION BASE ===== */
.animate {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.7s ease;
}

/* visible state */
.animate.show {
    opacity: 1;
    transform: translateY(0);
}

/* delay helpers */
.delay-1 {
    transition-delay: 0.1s;
}

.delay-2 {
    transition-delay: 0.2s;
}

.delay-3 {
    transition-delay: 0.3s;
}

.delay-4 {
    transition-delay: 0.4s;
}

/* image special animation */
.animate-scale {
    opacity: 0;
    transform: scale(0.9);
    transition: all 0.8s ease;
}

.animate-scale.show {
    opacity: 1;
    transform: scale(1);
}

/* PARALLAX IMAGE */
.about-img {
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.about-img img {
    width: 100%;
    height: 120%; /* bigger for parallax */
    object-fit: cover;
    transform: translateY(0);
    transition: transform 0.1s linear;
}
